body {
  background-color: #201f1f;
}

.zag {
  color: white;
  font-size: 30px;
}

.zaz {
  text-align: center;
  color: white;
}

.tab {
  width: 100px;
  table-layout: auto;
  color: white;
}

.par {
  color: white;
  font-size: 10px;
}

.url {
  color: green;
}

.am {
  color: white;
}