body {
 max-width: 100%;
  background-color: #201f1f;
}

.main {
  text-align: center;
}

.zag {
  color: white;
  font-size: 30px;
}

.ss {
  color: orange;
  text-align: center;
}

.zaz {
  text-align: center;
  color: white;
}

.tab {
  display: block;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  width: 100px;
  table-layout: auto;
  color: white;
  border: 2px;
}

.par {
  color: white;
  font-size: 10px;
  text-align: center;
}

.url {
  color: green;
}

.am {
  color: white;
  text-align: center;
}